/**
 * Default theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../../lib/font/Archer-Medium-Pro.otf') format('opentype');
}

@font-face {
	font-family: 'Big Noodle';
	src: url('../../lib/font/big_noodle_titling.ttf') format('truetype'); 
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// Override theme settings (see ../template/settings.scss)
$heading1TextShadow: none;
$mainFont: 'Archer', sans-serif;
$headingFont: 'Big Noodle', 'Archer', sans-serif;
$backgroundColor : #fff;
$mainColor : #000;
$headingColor : #009774;
$linkColor: #009774;
$headingTextShadow: none;

// Background generator
@mixin bodyBackground() {
	
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

#colourslogo {
	position:absolute;
	bottom:2%;
	left:2%;
	z-index: 10000;
}

#colourslogo img{
	width:400px;
	heigth:auto;
	max-width: 25%;
}

.reveal ul {
	margin-left: 4em;
}

.reveal code {	
	font-size: 80%;
}

.reveal li code {
	color:blue;
}