﻿
<div class="sessioncreatedialog" ng-controller="UmbUkFest.Sessions.CreateController">
    <form name="insertkeyvalue_form" novalidate >
    <umb-panel>
   
        <umb-pane>
            <umb-control-group label="Name" description="Enter session name">
                <input type="text" name="name" required ng-model="session.name" />
            </umb-control-group>   
            <umb-control-group label="Room" description="Choose the room of the session">
                <room-dropdown ng-model="session.room" required></room-dropdown>
            </umb-control-group> 
            <umb-control-group label="Timeslot" description="Choose the timeslote of the session">
                <timeslot-dropdown ng-model="session.timeslot" required></timeslot-dropdown>
            </umb-control-group>    
        </umb-pane>
        
        <div class="span8">
            <div class="btn-toolbar pull-right umb-btn-toolbar">
                <a href class="btn btn-primary" ng-click="save(session)" ng-disabled="!insertkeyvalue_form.$valid" prevent-default><localize key="buttons_save">Save</localize></a>
            </div>
        </div>
    </umb-panel>
        </form>
</div>

<style type="text/css">
   .sessioncreatedialog .controls-row{
       margin-left: 0px!important
   } 
</style>
