﻿<form name="sessionForm"
    ng-controller="UmbUkFest.Sessions.EditController"
      ng-show="loaded"
    ng-submit="save()">

    <umb-panel>
        <umb-header tabs="tabs">
            <div class="span7">
                <umb-content-name placeholder="@placeholders_entername"
                                  ng-model="session.name" />
            </div>
            
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">                   
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                        <localize key="buttons_save">Save</localize>
                    </button>          
                </div>
            </div>
        </umb-header>
        
        <umb-tab-view>
            <umb-tab id="tabSessionInfo" rel="SessionInfo" class="active">
                <umb-pane>
                    <umb-control-group label="Room" description="Choose the room for the session">
                        <room-dropdown ng-model="session.room" required></room-dropdown>
                    </umb-control-group>
                    <umb-control-group label="Timeslot" description="Choose the timeslot for the session">
                        <timeslot-dropdown ng-model="session.timeslot" required></timeslot-dropdown>
                    </umb-control-group>
                    <umb-control-group label="Speaker" description="Select the speaker for the session">
                        <span ng-show="session.speaker === 0">
                            <i class="icon icon-add blue"></i>
                            <a href="#" ng-click="selectSpeaker()" prevent-default="">
                                <localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>
                            </a>
                        </span>
                        <span ng-show="session.speaker != 0">
                            <span>{{speakername}}</span>
                            <i class="icon icon-delete red"></i>
                            <a href="#" ng-click="removeSpeaker()" prevent-default="">
                                <localize key="general_delete" class="ng-isolate-scope ng-scope">Remove</localize>
                            </a>
                        </span>
                    </umb-control-group>
                </umb-pane>
            </umb-tab>
            <umb-tab id="tabSessionDetails" rel="SessionDetails">
                <umb-pane>
                    <umb-control-group label="Description" description="Enter the session description">
                        <div ng-repeat="editor in rteField">
                            <umb-editor model="editor"></umb-editor>
                        </div>   
                    </umb-control-group> 
                </umb-pane>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>
