﻿<umb-panel ng-controller="UmbUkFest.Speakers.DeleteController">
    <p>
        Are you sure you want to delete {{currentNode.name}} ?
    </p>
    <div>
         <div class="umb-pane btn-toolbar umb-btn-toolbar">
              <div class="control-group umb-control-group">
                  <a href="" class="btn btn-link" ng-click="Cancel()"><localize key="general_cancel">Cancel</localize></a>
                 <a href="" class="btn btn-primary" ng-click="Delete(currentNode.id)"><localize key="general_ok">OK</localize></a>
             </div>
         </div>
     </div>
</umb-panel>