﻿<form name="speakerForm" 
      ng-controller="UmbUkFest.Speakers.EditController" 
      ng-show="loaded" 
      ng-submit="save()"
      val-form-manager>
    <umb-panel>
        <umb-header tabs="tabs">
            <div class="span7">
                <umb-content-name placeholder="@placeholders_entername"
                                  ng-model="speaker.Name" />
            </div>
            
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">                   
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                        <localize key="buttons_save">Save</localize>
                    </button>          
               </div>
            </div>
        </umb-header>
        
        <umb-tab-view>
            <umb-tab id="tabContent" rel="Content" class="active">
                <umb-pane>
                    <umb-control-group label="Company" description="Enter the company name">
                        <input type="text" class="umb-editor umb-textstring" ng-model="speaker.Company"/>
                    </umb-control-group>
                    <umb-control-group label="Twitter" description="Enter the twitter handle">
                        <input type="text" name="twitter" class="umb-editor umb-textstring" ng-model="speaker.Twitter" val-regex="^@(\w){1,15}$" />                     
                        <span class="help-inline" val-msg-for="twitter" ng-show="speakerForm.$dirty && speakerForm.twitter.$invalid && speakerForm.twitter.$error.valRegex">Invalid twittername</span>
                    </umb-control-group>
                    <umb-control-group label="Website" description="Enter the website">
                        <input type="text" class="umb-editor umb-textstring" ng-model="speaker.Website"/>
                    </umb-control-group>
                    <umb-control-group label="Biography" description="Enter the bio">                        
                        <div ng-repeat="editor in RichtTextEditor">
                            <umb-editor model="editor" />
                        </div>
                    </umb-control-group>
                </umb-pane>
            </umb-tab>
            
            <umb-tab id="tabLogo" rel="Logo">
                <umb-pane>
                    <umb-control-group label="Image" description="Choose the image of the speaker">
                        <div class="umb-mediapicker">
                            <ul  class="umb-sortable-thumbnails" ng-show="hasimage">
		                        <li style="width: 120px; height: 100px; overflow: hidden;">
				                        <img ng-src="{{image.thumbnail}}" alt="" ng-show="image.thumbnail">

				                        <span class="icon-holder" ng-hide="image.thumbnail">
					                        <i class="icon {{image.icon}} large" ></i>
					                        <small>{{image.name}}</small>
				                        </span>

				                        <a href class="picked-image" ng-click="removeImage()"><i class="icon icon-delete"></i></a>
		                        </li>
	                        </ul>
                            <ul class="umb-sortable-thumbnails" ng-show="!hasimage">
                                <li style="border: none">	
                                    <a href="#" class="add-link" ng-click="addImage()" prevent-default>
                                        <i class="icon icon-add large"></i> 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </umb-control-group>
                    
                </umb-pane>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>