﻿<umb-panel
	ng-controller="UmbUkFest.Speakers.PickerDialog.Controller">
	
    <div class="umb-panel-body no-header">
    <umb-tree
        section="umbukfest"
        treeAlias="speakers"
        eventhandler="dialogEventHandler" isdialog="true" hideheader="false" hideoptions="true"></umb-tree>
		</div>	
	
</umb-panel>